{% extends 'base.html.twig' %}

{% block title %}detail d'une entreprise{% endblock %}

{% block body %}
<h1>{{entreprise}}</h1>
<h3>SIRET : {{entreprise.siret}}</h3>

<h3>date de creation : {{entreprise.dateCreation|date("m/d/Y")}}</h3>
<h3>adresse : {{entreprise.fullAdresse}}</h3>
<br>
<h2>Liste des employés</h2>
{% if entreprise.employes |length > 0 %}
{% for employe in entreprise.employes %}
<h3>
    <li>
        <a href="{{ path('show_employe',{id:employe.id})}}">{{employe}}</a>
    </li>
</h3>
{% endfor %}
{% else %}
il n'ya aucun employé enregistré pour cette entreprise
{% endif %}

{% endblock %}